<%- include("./partials/header") %>

  <main>
    <h1>404</h1>
    <p>Voie sans issues, faites demi-tour s'il vous plait ^^</p>
    <a href="/">Retour à l'accueil</a>
  </main>

<%- include("./partials/footer") %>
